
.cpcache
.nrepl-port
logs
*.log
development.properties
production.properties

# vim
/sessions
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
*~
tags
[._]*.un~
.vim
.vimrc
